# MPLAB X IDE (Netbeans) specific
~*.*
build/
debug/
dist/default/*/*
disassembly/
.generated_files/
nbproject/private/
nbproject/*.mk
nbproject/*.bash
nbproject/Makefile-genesis.properties

# Object files
*.o
*.ko
*.obj
*.elf

# Executables
*.exe


# KDE specific
.directory

# Misc
.svn
*.bak

#Keep hex file
!dist/default/production/mplabx.production.hex